# Dépendances
node_modules/

# Variables d'environnement (ne jamais committer tes vraies clés)
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/

# Vercel
.vercel/
